header {
  font-size: 26px;
  background: rgb(211, 220, 223); 
  padding: 4px;
  margin: 6px;
  text-align: center;
  border-bottom: 8px solid #4aaaa5;
}

body {
  font-family: Arial, Helvetica, sans-serif;  
  color: #333;
  background:rgb(211, 220, 223);  
  width: 960px;
  font-size: 18px;
  line-height: 34px;
  margin: auto;
  display: block;
}

.bio {
    height: 720px;
    background: #ebebeb;
    padding: 25px;
    margin: 5px;
  }

.contact {
  height: 720px;
  background: #ebebeb;
  padding: 25px;
  margin: 5px;
}

  .portfolio {
    height: 720px;
    background: #ebebeb;
    padding: 25px;
    margin: 5px;
  }

h2 {
    text-align: center;
    margin: 1%;
  }

#bio-image{
    float: left;
    margin: 10px;
  }

.one {
  margin-top: 0px;
}

.two {
  margin-top: -10px;
}

form {
  text-align: center;
}

div {
  padding: 3px;
}

.hangman {
  text-align: center;
}

.rpg {
  float: left;
  text-align: center;
}

.trivia {
  float: right;
  text-align: center;
}

.clearfix {
  overflow: auto;
}

.widget {
  float: left;
  text-align: center;
}

.rps {
  float: right;
  text-align: center;
}

.clearfix {
  overflow: auto;
}

footer {
  background: rgb(211, 220, 223);
  padding: 30px;
  margin: 5px;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  }

@media screen and (max-width: 980px) {


@media screen and (max-width: 768px) {
  header {
    width: 745px;
    padding-right: 0px;
  }

  .bio {
    width: 700px;
  }
  
  .contact {
    width: 700px;
  }

  .portfolio {
    width: 700px;
  }

  textarea {
    width: 650px;
  }

  footer {
    width: 700px;
    padding-right: 20px;
  }

@media screen and (max-width: 640px) {
  header {
    width: 595px;
  }
  
  .bio {
    height: 550px;
    width: 550px;
    padding-bottom: 300px;
  }

  #bio-image {
    height: 200px;
    width: 200px;
  }

  .contact {
    width: 550px;
  }

  textarea {
    width: 540px;
  }

  .portfolio {
    width: 550px;
  }

  .hangman img {
    width: 150px;
  }

  .rpg {
    width: 538px;
  }

  .rpg img{
    width: 150px;
  }

  .trivia {
    width: 538px;
  }

  .trivia img{
    width: 150px;
  }

  .widget {
    width: 538px;
  }

  .widget img{
    width: 150px;
  }

  .rps {
    width: 538px;
  }

  .rps img{
    width: 150px;
  }

  footer {
    width: 555px;
}